/* Header */
.header {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 120px;
    background-image: var(--theme-color-gradient);
}

/*  Nav */
.nav {
    display: flex;
    height: 34px;
    justify-content: space-between;
}

.nav__list,
.nav__item {
    display: inline-flex;
    align-items: center;
}

.nav__list {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.nav__item,
.nav__item a {
    color: var(--text-color-bright);
    font-size: 1.3rem;

}

.nav__item {
    position: relative;
    padding: 0 4px;
    margin: 0 5px;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__item a {
    text-decoration: none;
}

.nav__item i {
    margin: 0 5px;
    font-size: 1.6rem;
}

.nav__item--seperate::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -6px;
    height: 16px;
    border-right: 2px solid #f96d5c;
}

.nav__touch {
    cursor: pointer;
}

.nav__touch--enable:hover {
    opacity: 0.7;
}

/* SubNav Download */
.nav__sub-download {
    z-index: 2;
    display: none;
    position: absolute;
    top: calc(100% + 14px);
    left: 0;
    width: 182px;
    background-color: var(--bg-color-light);
    border-radius: 2px;
}

.nav__sub-download::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    height: 16px;
    left: 0;
    width: 88px;
}

.nav__item:hover .nav__sub-download {
    display: block;
}

.nav__qr {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.nav__qr-img {
    width: 100%;
}

.nav__apps-store {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    padding: 0 12px 8px;
}

.nav__apps-store-img {
    width: 50%;
    height: 24px;
    padding: 8px 8px 0 0;
}
/* End SubNav Download */

/* popoverNav Notify */
.nav__popover-notify-wrapper {
    z-index: 2;
    display: none;
    position: absolute;
    top: calc(100% + 14px);
    right: 4px;
    min-width: 402px;
    box-shadow: 0px 0px 100px -50px #333;
    transform-origin: calc(100% - 38px) top;
}

.nav__item:hover .nav__popover-notify-wrapper {
    display: block;
}

.nav__popover-notify-wrapper::before {
    right: 22px;
}

.nav__popover-notify-wrapper::after {
    right: 0;
    width: 98px;
}

.nav__notify-content {
    min-height: 310px;
}

.nav__notify-content--no-user {
    display: flex;
}

.nav__notify-bg {
    margin: auto;
}

.nav__notify-bg-img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.nav__notify-bg-img--no-user {
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/99e561e3944805a023e87a81d4869600.png) top center / contain no-repeat;
}

.nav__notify-bg-desc {
    width: 100%;
    margin-top: 16px;
}

.nav__notify-bg-desc--no-user {
    color: #333;
    font-size: 1.4rem;
    font-weight: 400;
}

.nav__notify-footer {
    display: flex;
    background-color: rgb(246, 242, 242);
    text-align: center;
    line-height: 40px;
}

a.nav__notify-footer-btn {
    color: var(--text-color-normal);
}

.nav__notify-footer-btn--no-user {
    width: 50%;
}

.nav__notify-bg-img--no-user,
.nav__notify-bg-desc--no-user,
.nav__notify-footer-btn--no-user {
    display: block;
}
/* End PopoverNav Notify */

/* Popover Language */
.nav__popover-language {
    z-index: 2;
    display: none;
    position: absolute;
    top: calc(100% + 14px);
    right: 0;
    min-width: 202px;
    box-shadow: 0px 0px 100px -32px #333;
    transform-origin: calc(100% - 60px) top;
}

.nav__item:hover .nav__popover-language {
    display: block;
}

.nav__popover-language::before {
    right: 46px;
}

.nav__popover-language::after {
    right: 0;
    width: 120px;
}

.nav__language {
    padding: 10px;
    line-height: 20px;
}

.nav__language--selected {
    color: var(--text-color-highlight);
}

.nav__languages:hover .nav__language--selected:not(:hover) {
    color: var(--text-color-normal);
}
/* End Popover Language */
/* End Nav */

/* Header With Search */
.header-with-search {
    display: flex;
    height: 86px;
    padding: 12px 0 8px;
    align-items: center;
}

.header__logo {
    width: 17%;
    margin-bottom: 14px;
    color: transparent;
    line-height: 0;
    text-decoration: none;
}

.header__logo-img {
    padding-right: 20px;
    width: 100%;
    height: 50px;
}

.header__search {
    flex: 1;
    margin-top: 4px;
}

.header__search-bar {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: var(--bg-color-light);
    border-radius: 2px;
}

.header__search-inp-wrapper {
    position: relative;
    flex: 1;
    height: 100%;
    padding: 3px;
}

.header__search-inp {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: var(--text-color-normal);
    font-size: 1.4rem;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header__search-inp:placeholder-shown {
    text-overflow: ellipsis;
}

.header__search-btn {
    display: flex;
    width: 60px;
    height: 34px;
    background-color: #fb5533;
    margin: 3px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-icon {
    margin: auto;
    color: var(--text-color-bright);
    font-size: 1.4rem;
}

.header__search-inp:focus + .header__search-suggest-wrapper {
    display: block;
}

.header__search-suggest-wrapper {
    z-index: 1;
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    background-color: var(--bg-color-light);
    box-shadow: 0px 4px 24px -13px #333;
}

.header__search-suggest {
    width: 100%;
    padding: 0 14px;
    text-decoration: none;
}

.header__search-suggest--no-text {
    display: flex;
    min-height: 44px;
    justify-content: space-between;
    align-items: center;
}

.header__search-suggest > .header__suggest-title {
    color: #000;
}

.header__suggest-title--no-text {
    font-size: 1.4rem;
}

.header__suggest-img--no-text {
    width: 24px;
    height: 24px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__suggest-title--no-text,
.header__suggest-img--no-text {
    display: block;
}

.header__search-recommend {
    width: 100%;
    margin-top: 8px;
}

.header__search-recommend > .header__recommend-item {
    margin-left: 14px;
    color: #ffeee4;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.header__recommend-item:first-child {
    margin: 0;
}

.header__cart-wrapper {
    display: flex;
    width: 13%;
    margin-bottom: 12px;
    justify-content: center;
}

.header__cart {
    position: relative;
    width: min-content;
}

.header__cart-link {
    color: transparent;
    text-decoration: none;
}

.header__cart-icon {
    color: var(--text-color-bright);
    font-size: 2.2rem;
    padding: 0 16px;
}

.header__popover-cart {
    z-index: 2;
    display: none;
    position: absolute;
    top: calc(100% + 16px);
    right: 8px;
    width: 402px;
    transform-origin: calc(100% - 16px) top;
    box-shadow: 0px 0px 44px -28px #333;
}

.header__cart:hover .header__popover-cart {
    display: block;
}

.header__popover-cart::before {
    right: 2px;
    cursor: pointer;
}

.header__popover-cart::after {
    right: -10px;
    width: 72px;
}

.header__popover-cart > .cart-list {
    min-height: 262px;
}

.cart-list--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__bg-img--empty {
    width: 100px;
    height: 100px;
}

.cart__desc {
    width: 100%;
    margin-top: 20px;
    color: var(--text-color-normal);
    font-size: 1.4rem;
    text-align: center;
}

.cart__img--empty,
.cart__desc--empty {
    display: block;
}
/* End Header With Search */

/* Header User */
.header__user-wrapper {
    display: none;
}

.header__user-link {
    color: transparent;
    text-decoration: none;
}

.header__user-icon {
    padding: 0 16px;
    color: var(--text-color-bright);
    font-size: 2.2rem;
}
/* End Header User */
/* End Header */

/* Container */
.container {
    margin-top: 120px;
    padding-bottom: 70px;
    background-color: var(--bg-color-blur);
}

.slider-hotword {
    padding-top: 30px;
    background-color: var(--bg-color-light);
    box-shadow: 00 1px 1px 0px rgb(0, 0, 0, 0.06);
}
/* Slider & Hot Word */
/* Slider */
.slider__wrapper {
    display: flex;
    width: 100%;
}

.slider__left-section {
    position: relative;
    width: 66.5%;
}

.slider__left-section:hover .slider__left-arrow--pre {
    display: flex;
}

.slider__left-section:hover .slider__left-arrow--next {
    display: flex;
}

.slider__left-link,
.slider__right-link {
    display: block;
    color: transparent;
    text-decoration: none;
}

.slider__left-bg,
.slider__right-bg {
    border-radius: 2px;
}

.slider__left-bg {
    height: 236px;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slider__left-arrow--pre,
.slider__left-arrow--next {
    position: absolute;
    top: 50%;
    display: none;
    width: 35px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.18);
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider__left-arrow--pre:hover,
.slider__left-arrow--next:hover {
    background-color: rgba(0, 0, 0, 0.32);
}

.slider__left-arrow--pre {
    left: 0;
}

.slider__left-arrow--next {
    right: 0;
}

.slider__left-arrow-icon {
    color: var(--text-color-bright);
    font-size: 2.0rem;
}

.slider__right-section {
    flex: 1;
    margin-left: 5px;
}

.slider__right-bg {
    height: 116px;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slider__right-link--bottom {
    margin-top: 4px;
}

.slider__mobile-section {
    display: none;
    width: 100%;
}

.slider__mobile-link {
    display: block;
    color: transparent;
    text-decoration: none;
}

.slider__mobile-bg {
    padding-top: 40%;
    max-height: 174px;
    background-position: bottom center;
    background-size: cover;
}
/* End Slider */

/* Hot Word */
.hotword__wrapper {
    width: 100%;
    margin-top: 10px;
}

.hotword__link {
    min-height: 108px;
    padding-top: 18px;
    color: var(--text-color-bold);
    text-decoration: none;
    justify-content: center;
    text-align: center;
}

.hotword__link:hover {
    transform: translateY(-1px);
}

.hotword__img {
    width: 45px;
    height: 45px;
}

.hotword__title {
    width: 100%;
    margin: 4px 0 8px;
    padding: 0 6px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4rem;
}
/* End Hot Word */
/* End Slider & Hot Word */

/* Banner */
.banner__wrapper {
    position: relative;
    width: 100%;
}

.banner__link {
    display: block;
    height: 110px;
    color: transparent;
    text-decoration: none;
}

.banner__link--full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner__link--third {
    width: 33.33333%;
}

.banner__img {
    width: 100%;
    height: 110px;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner__split-composite {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 110px;
}

.mobile-banner {
    display: none;
}

.mobile-banner__outside {
    width: 29.1%;
}

.mobile-banner__inside {
    width: 41.8%;
}
/* End Banner */

/* Categogy */
.categogy__wrapper {
    width: 100%;
}

.categogy__title {
    color: var(--text-color-blur);
    text-transform: uppercase;
}

.categogy__list-wrapper {
    position: relative;
    display: block;
}

.categogy__list-section {
    width: 100%;
    overflow: hidden;
}

.categogy__list {
    display: flex;
    width: 130%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

#categogy__check-move:checked + .categogy__list {
    transform: translateX(-360px);
}

#categogy__check-move:checked ~ .content__left-arrow {
    display: block;
}

#categogy__check-move:checked ~ .content__right-arrow {
    display: none;
}

.catagogy__item {
    min-height: 150px;
    flex: 0 0 7.69231%;
    max-width: 7.69231%;
}

.catagogy__item-link {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color-blur);
    text-decoration: none;
    text-align: center;
}

.catagogy__item-link:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.catagogy__item-img {
    width: 84px;
    height: 84px;
    margin-top: 10px;
}

.catagogy__item-title {
    margin: 0 8px 10px;
    color: var(--text-color-normal);
    line-height: 2.0rem;
    font-size: 1.4rem;
    font-weight: 400; 
}

.categogy__list:hover ~ .content__left-arrow {
    transform: translateY(-50%) translateX(-50%) scale(1.5);
}

.categogy__list:hover ~ .content__right-arrow {
    transform: translateY(-50%) translateX(50%) scale(1.5);
}

#categogy__check-move {
    display: none;
}
/* End Categogy */

/* Flash Sale */
.flash-sale__wrapper {
    width: 100%;
}

.flash-sale__header-section {
    justify-content: space-between;
}

.flash-sale__header-group {
    display: inline-flex;
    align-items: center;
}

.flash-sale__title {
    width: 130px;
    height: 26px;
    margin-top: 4px;
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/fb1088de81e42c4e538967ec12cb5caa.png") top center / contain no-repeat;
}

.flash-sale__time-cd-wrapper {
    display: inline-flex;
    margin-left: 14px;
}

.flash-sale__time-cd {
    margin-left: 4px;
    background-color: var(--bg-color-bold);
    border: 1px solid #9b9b9b;
    border-radius: 2px;
    font-size: 0;
    line-height: 8px;
}

.flash-sale__time-number-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.flash-sale__time-number-item {
    display: flex;
    width: 10px;
    height: 16px;
}

.flash-sale__time-number-item--left {
    padding-left: 1px;
}

.flash-sale__time-number-item--right {
    padding-right: 1px;
}

.flash-sale__time-number {
    margin: auto;
    width: 8px;
    height: 10px;
}

.flash-sale__header-link {
    padding: 6px;
    color: var(--text-color-highlight);
    font-size: 1.5rem;
    text-decoration: none;
}

.flash-sale__header-link-icon {
    margin: 2px;
    font-size: 1.2rem;
}

.flash-sale__list-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.flash-sale__list-section {
    display: block;
    width: 100%;
    overflow: hidden;
}

.flash-sale__list {
    display: flex;
    width: 183.33333%;
    margin: 0;
    padding: 0;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.flash-sale__item {
    display: flex;
    flex: 0 0 9.09091%;
    max-width: 9.09091%;
    min-height: 240px;
}

#flash-sale__list-check-move {
    display: none;
}

.flash-sale__item-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.flash-sale__item-content {
    position: relative;
    display: flex;
}

.flash-sale__img-section {
    position: relative;
    margin: 5px auto;
    line-height: 0;
}

.flash-sale__item-img {
    width: 172px;
    height: 172px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flash-sale__item-promo-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    height: 172px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flash-sale__item-sale-off {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 4px 2px;
    width: 50px;
    height: 44px;
    background-color: var(--bg-color-sale-off);
    font-size: 1.7rem;
    color: var(--text-color-bright);
    text-transform: uppercase;
}

.flash-sale__item-sale-off::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -8px;
    border-style: solid;
    border-width: 0px 25px 8px;
    border-color: var(--bg-color-sale-off) var(--bg-color-sale-off) transparent var(--bg-color-sale-off);
}

.flash-sale__item-sale-off-perc {
    display: block;
    padding-bottom: 4px;
    color: var(--text-color-highlight);
    text-align: center;
}

.flash-sale__item-footer {
    display: block;
    padding: 0 16px 16px;
}

.flash-sale__item-price {
    display: flex;
    color: var(--text-color-highlight);
    font-size: 2.1rem;
    line-height: 26px;
    justify-content: center;
    align-items: center;
}

.flash-sale__item-unit {
    margin-right: 4px;
    font-size: 1.0rem;
    text-decoration: underline;
}

.flash-sale__item-purchased-section {
    display: block;
    padding: 0 6px;
}

.flash-sale__item-purchased {
    position: relative;
    display: block;
    height: 16px;
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/ac7f81d9ee062223753413ec98497a86.png") top center / cover no-repeat;
}

.flash-sale__item-purchased-amount {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--bg-color-light);
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-align: center;
    text-transform: uppercase;
}

.flash-sale__item-not-purchased {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(255, 189, 166, 0.9);
}

.flash-sale__list-section:hover .content__left-arrow {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
}

.flash-sale__list-section:hover .content__right-arrow {
    transform: translateX(50%) translateY(-50%) scale(1.5);
}

#flash-sale__list-check-move:checked + .flash-sale__list {
    transform: translateX(-1000px);
}

#flash-sale__list-check-move:checked ~ .content__left-arrow {
    display: block;
}

#flash-sale__list-check-move:checked ~ .content__right-arrow {
    display: none;
}
/* End Flash Sale */

/* Mall */
.mall__wrapper {
    display: block;
    width: 100%;
}

.mall__header-section {
    justify-content: space-between;
}

.mall__header-group {
    display: flex;
    align-items: center;
}

.mall__logo {
    color: #d3111b;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
}

.mall__policies-list {
    display: flex;
    margin: 0 0 0 15px;
    border-left: 1px solid #d8d8d8;
    padding: 0;
    list-style: none;
}

.mall__policy-item {
    margin-left: 15px;
    color: var(--text-color-normal);
    font-size: 1.6rem;
}

.mall__policy-icon {
    padding-right: 6px;
}

.mall__policy-icon::before {
    color: #d3111b;
    font-size: 1.4rem;
}

.mall__header-link {
    display: flex;
    padding: 6px;
    font-size: 1.5rem;    
    color: #d3111b;
    text-decoration: none;
    align-items: center;
}

.mall__header-link-icon {
    padding: 2px 2px 2px 6px;
}

.mall__header-link-icon::before {
    font-size: 1.8rem;
}

.mall__content-section {
    border-width: 1px 0 0;
    border-color: var(--border-color-blur);
    border-style: solid;
}

.mall__slider {
    position: relative;
    height: 464px;
}

.mall__slider-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.mall__slider-img {
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mall__arrow {
    position: absolute;
    top: 50%;
    display: none;
    width: 35px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.18);
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mall__slider:hover .mall__arrow {
    display: flex;
}

.mall__arrow--pre {
    left: 0;
}

.mall__arrow--next {
    right: 0;
}

.mall__arrow-icon {
    color: var(--text-color-bright);
    font-size: 2.0rem;
}

.mall__list-wrapper {
    position: relative;
}

.mall__list-section {
    width: 100%;
    overflow: hidden;
}

.mall__list {
    width: 200%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.mall__item {
    height: 232px;
}

.mall__item-link {
    text-decoration: none;
}

.mall__item-img {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mall__item-promo {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #d3111b;
    font-size: 1.8rem;
    text-align: center;
}

#mall__list-check-move {
    display: none;
}

#mall__list-check-move:checked + .mall__list {
    transform: translateX(-800px);
}

#mall__list-check-move:checked ~ .content__left-arrow {
    display: block;
}

#mall__list-check-move:checked ~ .content__right-arrow {
    display: none;
}

.mall__list-section:hover .content__left-arrow {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
}

.mall__list-section:hover .content__right-arrow {
    transform: translateX(50%) translateY(-50%) scale(1.5);
}
/* End Mall */

/* Search Trending */
.search-trending__wrapper {
    display: block;
    width: 100%;
}

.search-trending__header-section {
    justify-content: space-between;
}

.search-trending__header-link {
    padding: 6px;
    color: var(--text-color-highlight);
    font-size: 1.4rem;
    text-decoration: none;
}

.search-trending__header-link-icon {
    margin-right: 2px;
}

.search-trending__header-title {
    color: var(--text-color-blur);
    font-size: 1.6rem;
}

.search-trending__content-section {
    width: 100%;
    border-top: 1px solid var(--border-color-blur);
}

.search-trending__item {
    display: flex;
    text-decoration: none;
    border-right: 1px solid var(--border-color-blur);
}

.search-trending__item:last-child {
    border: none;
}

.search-trending__item-desc {
    padding: 20px;
    overflow: hidden;
}

.search-trending__item-title {
    color: var(--text-color-normal);
    font-size: 1.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search-trending__item-amount-found {
    margin-top: 5px;
    color: var(--text-color-blur);
    font-size: 1.3rem;
}

.search-trending__item-img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* End Search Trending */

/* Top Search */
.top-search__wrapper {
    display: block;
    width: 100%;
}

.top-search__header-section {
    justify-content: space-between;
}

.top-search__header-title {
    color: var(--text-color-highlight);
    font-size: 1.6rem;
    text-transform: uppercase;
}

.top-search__header-link {
    padding: 6px;
    color: var(--text-color-highlight);
    font-size: 1.5rem;
    text-decoration: none;
}

.top-search__header-link-icon {
    margin: 2px;
    font-size: 1.2rem;
}

.top-search__list-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.top-search__list-section {
    width: 100%;
    overflow: hidden;
}

.top-search__list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 183.33333%;
    list-style: none;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.top-search__item {
    position: relative;
    flex: 0 0 9.09091%;
    max-width: 9.09091%;
    height: 100%;
    padding: 20px 10px;
}

.top-search__item-link {
    line-height: 2.5rem;
    text-decoration: none;
}

.top-search__item-img {
    position: relative;
    padding-top: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-search__item-top-flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 40px;
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/06720e49514cbd94b7552496b4de454a.png") top center / cover no-repeat;
}

.top-search__item-purchased {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--text-color-bright);
    background-color: #bdbdbd;
    font-size: 1.4rem;
    font-weight: 350;
    text-align: center;
}

.top-search__item-title {
    display: block;
    display: -webkit-box;
    margin-top: 20px;
    height: 50px;
    color: var(--text-color-normal);
    font-size: 1.8rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

#top-search__list-check-move {
    display: none;
}

#top-search__list-check-move:checked + .top-search__list {
    transform: translateX(-1000px);
}

#top-search__list-check-move:checked ~ .content__left-arrow {
    display: block;
}

#top-search__list-check-move:checked ~ .content__right-arrow {
    display: none;
}

.top-search__list-section:hover .content__left-arrow {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
}

.top-search__list-section:hover .content__right-arrow {
    transform: translateX(50%) translateY(-50%) scale(1.5);
}
/* End Top Search */

/* Recommend Products */
.recommend-products__wrapper {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.recommend-products__header-section {
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    display: flex;
    border-bottom: 4px solid var(--border-color-highlight);
    background-color: var(--bg-color-light);
    box-shadow: 0 4px 4px -6px #333;
    align-items: center;
}

.recommend-products__header-title {
    display: flex;
    width: 100%;
    padding: 20px 0;
    color: var(--text-color-highlight);
    font-size: 1.7rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.recommend-products__content-section {
    padding: 5px 5px 0;
}


.recommend-products__item-link {
    position: relative;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #fff;
    border-radius: 2px;
    height: 282px;
    background-color: var(--bg-color-light);
    line-height: 0;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform linear 0.1s;
}

.recommend-products__item-link:hover {
    z-index: 1;
    border: 1px solid #ee4d2d;
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.05);
    overflow: initial;
}

.recommend-products__item-representative-photo {
    position: relative;
    width: 100%;
}

.recommend-products__item-img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.recommend-products__item-favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 5px;
    color: var(--text-color-bright);
    background-color: #f25220;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.recommend-products__item-favorite::before {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: 0px;
    border-top: 4px solid #99452a;
    border-left: 4px solid transparent;
}

.recommend-products__item-sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    border-top-right-radius: 2px;
    padding-top: 4px;
    color: var(--text-color-bright);
    background-color: var(--bg-color-sale-off);
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    text-transform: uppercase;
}

.recommend-products__item-sale-off::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
    border-width: 0 18px 4px;
    border-style: solid;
    border-color: transparent var(--bg-color-sale-off) transparent var(--bg-color-sale-off);
}

.recommend-products__item-sale-off-prec {
    display: block;
    color: var(--text-color-highlight);
    line-height: 1.2rem;
}

.recommend-products__item-promo-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.recommend-products__item-desc {
    width: 100%;
    padding: 8px;
    line-height: 1.6rem;
}

.recommend-products__item-title {
    display: block;
    display: -webkit-box;
    height: 28px;
    margin: 0;
    color: #000;
    font-size: 1.2rem;
    line-height: 1.4rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recommend-products__item-discount-section {
    position: relative;
    display: block;
    height: 24px;
}

.recommend-products__item-discount {
    position: relative;
    display: inline-block;
    margin: 4px 0;
    padding: 2px 4px;
    color: var(--text-color-bright);
    background-color: #f69113;
    font-weight: 450;
    line-height: 1.2rem;
    border-left: 2px dotted #fff;
    border-right: 2px dotted #fff;
}

.recommend-products__item-discount--empty {
    display: none;
}

.recommend-products__item-price {
    display: flex;
    margin-top: 8px;
}

.recommend-products__item-unit {
    flex: 0;
    color: var(--text-color-highlight);
    font-size: 0.9rem;
    text-decoration: underline;
}

.recommend-products__item-number {
    flex: 1;
    color: var(--text-color-highlight);
    font-size: 1.7rem;
}

.recommend-products__item-purchased {
    flex: 0;
    color: var(--text-color-blur);
    font-size: 1.2rem;
    white-space: nowrap;
}

.recommend-products__item-footer {
    z-index: 2;
    position: absolute;
    bottom: -30px;
    left: -1px;
    display: none;
    width: 100%;
    border: 1px solid #ee4d2d;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: var(--text-color-bright);
    background-color: #ee4d2d;
    font-size: 1.4rem;
    line-height: 3.0rem;
    text-align: center;
    box-sizing: content-box;
}

.recommend-products__item-link:hover .recommend-products__item-footer {
    display: block;
}
.recommend-products__footer {
    display: flex;
    padding-top: 20px;
}

.recommend-products__footer-btn {
    width: 32%;
    margin: auto;
    background-color: var(--bg-color-light);
    line-height: 3.8rem;
    font-size: 1.4rem;
    box-shadow: 0 0 4px -3px #333;
    text-align: center;
}
/* End Recommend Products */
/* End Container */

/* Footer */
.footer__wrapper {
    border-top: 4px solid var(--border-color-highlight);
}

/* Description */
.footer__desc {
    background-color: var(--bg-color-light);
}

/* Introduction */
.footer__introduction {
    height: 344px;
    color: var(--text-color-bold);
    overflow: hidden;
}

.footer__introduction-desc {
    margin: 0;
    padding: 16px 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.footer__introduction-desc a {
    margin-left: 2px;
    color: var(--text-color-blur);
    font-weight: 700;
}

.footer__introduction-desc span {
    font-weight: 700;
}

.footer__introduction ul {
    margin: 0;
}

li .footer__introduction-desc {
    padding-top: 10px;
}

.footer__introduction-more {
    display: inline-flex;
    margin: 14px 0 0;
    padding: 4px 4px 4px 0;
    color: var(--text-color-highlight);
    font-size: 1.2rem;
    align-items: center;
    cursor: pointer;
}

.footer__introduction-more-icon {
    margin-left: 4px;
}
/* End Introduction */
/* End Description */

/* Related */
.footer__related {
    padding-top: 6px;
    background-color: #fbfbfb;
    color: var(--text-color-blur);
}

/* Connection */
.footer__connection-section {
    border-bottom: 1px solid var(--border-color-footer);
    padding-left: 4px;
    padding-right: 4px;
}

.footer__connection-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.footer__connection-item--full {
    width: 100%;
    padding: 4px 0;
}

.footer__connection-item--multi {
    margin: 0 6px 10px 0;
    width: 56px;
    height: 30px;
    
}

.footer__connection-item-link {
    display: inline-flex;
    padding: 2px 0;
    color: var(--text-color-blur);
    font-size: 1.2rem;
    text-decoration: none;
    align-items: center;
}

.footer__connection-item-link:hover {
    color: var(--text-color-highlight);
}

.footer__connection-item-img {
    width: 100%;
    height: 100%;
    background: url("../imgs/icons/synthetic-icon.png");
}

.footer__connection-item-img-visa {
    background-position: 76% 3%;
}

.footer__connection-item-img-mastercard {
    background-position: 51.1% 69%;
}

.footer__connection-item-img-jcb {
    background-position: 51.1% 38%;
}

.footer__connection-item-img-amex {
    background-position: 0.9% 4%;
}

.footer__connection-item-img-cod {
    background-position: 80.4% 32.8%;
}

.footer__connection-item-img-installment {
    background-position: 81% 66%;
}

.footer__connection-item-img-shopeepay {
    background-size: 770% 410%;
    background-position: 64% 0%;
}

.footer__connection-item-img-shopeexpess {
    background-size: 700% 360%;
    background-position: 16.2% 89%;
}

.footer__connection-item-img-ghtk {
    background-size: 1450% 650%;
    background-position: 34.4% 51%;
}

.footer__connection-item-img-ghn {
    background-size: 1460% 590%;
    background-position: 24.2% 54.6%;
}

.footer__connection-item-img-viettel {
    background-size: 660% 240%;
    background-position: 67.6% 72%;
}

.footer__connection-item-img-vnpost {
    background-position: 100% 5.3%;
}

.footer__connection-item-img-jnt {
    background-position: 86.1% 1.8%;
}

.footer__connection-item-img-grab {
    background-size: 610% 330%;
    background-position: 45.3% 0%;
}

.footer__connection-item-img-ninja {
    background-size: 1348% 480%;
    background-position: 34.5% 81%;
}

.footer__connection-item-img-best {
    background-size: 600% 260%;
    background-position: 25.3% 1%;
}

.footer__connection-item-img-be {
    background-size: 598.4% 230%;
    background-position: 8.6% 5%;
}

.footer__connection-item-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url("../imgs/icons/synthetic-icon.png");
}

.footer__connection-item-icon-facebook {
    background-size: 2515.625% 553.125%;
    background-position: 1.3% 35.6%;
}

.footer__connection-item-icon-insta {
    background-size: 2515.625% 553.125%;
    background-position: 43% 40.6%;
}

.footer__connection-item-icon-linked {
    background-size: 2515.625% 553.125%;
    background-position: 8% 70.6%;
}

.footer__connection-download {
    display: flex;
    margin-top: 16px;
    width: min-content;
    height: 88px;
    text-decoration: none;
}

.footer__connection-qr-code {
    margin-right: 16px;
    border: 1px solid var(--border-color-blur);
}

.footer__connection-app-list {
    display: block;
    height: 100%;
}

.footer__connection-app-item {
    width: 88px;
    height: 29.33333%;
    padding: 3px 0;
}
/* End Connection */

/* Rights Reserved & Region */
.footer__rights-reserved-and-region {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
}

.footer__rights-reserved {
    flex-shrink: 0;
}

.footer__region {
    margin-left: 60px;
    text-align: center;
}

.footer__region-link {
    position: relative;
    margin: 0 4px;
    text-decoration: none;
    color: var(--text-color-blur);
    line-height: 1.8rem;
}

.footer__region-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: -6px;
    height: 18px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__region-link:last-child::after {
    border: none;
}
/* End Rights Reserved & Region */
/* End Related */

/* Certificate */
.footer__certificate {
    color: var(--text-color-blur);
    background-color: var(--bg-color-blur);
}

.footer__certificate-policies {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.footer__certificate-policy {
    border-right: 1px solid var(--border-color-footer);
    padding: 0 25px;
}

.footer__certificate-policy:last-child {
    border: none;
}

.footer__certificate-policy-link {
    display: block;
    color: var(--text-color-blur);
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    text-decoration: none;
}

.footer__certificate-registered {
    display: flex;
    margin-top: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__certificate-registered-img {
    margin: 28px 22px 0;
    height: 50px;
    background-image: url("../imgs/icons/synthetic-icon.png");
}

.footer__certificate-registered-img-moit {
    width: 120px;
    background-size: 686% 360%;
    background-position: 99.7% 87%;
}

.footer__certificate-registered-img-no-fake {
    width: 50px;
    background-size: 1622% 370%;
    background-position: 90.1% 35%;
}

.footer__certificate-info {
    margin: 6px 0 0;
    font-size: 1.2rem;
    text-align: center;
}

.footer__certificate-info-name {
    padding-bottom: 20px;
}
/* End Certificate */
/* End Footer */