/* Header */
.header {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 120px;
    background-image: var(--theme-color-gradient);
}

/*  Nav */
.nav {
    display: flex;
    height: 34px;
    justify-content: space-between;
}

.nav__list,
.nav__item {
    display: inline-flex;
    align-items: center;
}

.nav__list {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.nav__item,
.nav__item a {
    color: var(--text-color-bright);
    font-size: 1.3rem;

}

.nav__item {
    position: relative;
    padding: 0 4px;
    margin: 0 5px;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__item a {
    text-decoration: none;
}

.nav__item i {
    margin: 0 5px;
    font-size: 1.6rem;
}

.nav__item--seperate::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -6px;
    height: 16px;
    border-right: 2px solid #f96d5c;
}

.nav__touch {
    cursor: pointer;
}

.nav__touch--enable:hover {
    opacity: 0.7;
}

/* SubNav Download */
.nav__sub-download {
    z-index: 2;
    display: none;
    position: absolute;
    top: calc(100% + 14px);
    left: 0;
    width: 184px;
    background-color: var(--bg-color-light);
    border-radius: 2px;
}

.nav__sub-download::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    height: 16px;
    left: 0;
    width: 88px;
}

.nav__item:hover .nav__sub-download {
    display: block;
}

.nav__qr {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.nav__apps-store {
    margin-top: 4px;
    padding: 0 12px 8px;
}

.nav__apps-store img {
    height: 24px;
    padding-top: 8px;
}
/* End SubNav Download */

/* popoverNav Notify */
.nav__popover-notify-wrapper {
    z-index: 2;
    display: none;
    position: absolute;
    top: calc(100% + 14px);
    right: 4px;
    min-width: 402px;
    box-shadow: 0px 0px 100px -50px #333;
    transform-origin: calc(100% - 38px) top;
}

.nav__item:hover .nav__popover-notify-wrapper {
    display: block;
}

.nav__popover-notify-wrapper::before {
    right: 22px;
}

.nav__popover-notify-wrapper::after {
    right: 0;
    width: 98px;
}

.nav__notify-content {
    min-height: 310px;
}

.nav__notify-content--no-user {
    display: flex;
}

.nav__notify-bg {
    margin: auto;
}

.nav__notify-bg-img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.nav__notify-bg-img--no-user {
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/99e561e3944805a023e87a81d4869600.png) top center / contain no-repeat;
}

.nav__notify-bg-desc {
    width: 100%;
    margin-top: 16px;
}

.nav__notify-bg-desc--no-user {
    color: #333;
    font-size: 1.4rem;
    font-weight: 400;
}

.nav__notify-footer {
    background-color: rgb(246, 242, 242);
    text-align: center;
    line-height: 40px;
}

.nav__notify-bg-img--no-user,
.nav__notify-bg-desc--no-user,
.nav__notify-footer--no-user {
    display: block;
}
/* End PopoverNav Notify */

/* Popover Language */
.nav__popover-language {
    z-index: 2;
    display: none;
    position: absolute;
    top: calc(100% + 14px);
    right: 0;
    min-width: 202px;
    box-shadow: 0px 0px 100px -32px #333;
    transform-origin: calc(100% - 60px) top;
}

.nav__item:hover .nav__popover-language {
    display: block;
}

.nav__popover-language::before {
    right: 46px;
}

.nav__popover-language::after {
    right: 0;
    width: 120px;
}

.nav__language {
    padding: 10px;
    line-height: 20px;
}

.nav__language--selected {
    color: var(--text-color-highlight);
}

.nav__languages:hover .nav__language--selected:not(:hover) {
    color: var(--text-color-normal);
}
/* End Popover Language */
/* End Nav */

/* Header With Search */
.header-with-search {
    height: 86px;
    padding: 12px 0 8px;
}

.header__logo {
    width: 100%;
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 162px;
    height: 50px;
}

.header__search {
    margin-top: 4px;
}

.header__search-bar {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: var(--bg-color-light);
    border-radius: 2px;
}

.header__search-inp-wrapper {
    position: relative;
    flex: 1;
    height: 100%;
    padding: 3px;
}

.header__search-inp {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: var(--text-color-normal);
    font-size: 1.4rem;
    border: none;
    outline: none;
}

.header__search-btn {
    display: flex;
    width: 60px;
    height: 34px;
    background: #fb5533;
    margin: 3px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-icon {
    margin: auto;
    color: var(--text-color-bright);
    font-size: 1.4rem;
}

.header__search-inp:focus + .header__search-suggest-wrapper {
    display: block;
}

.header__search-suggest-wrapper {
    z-index: 1;
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    background-color: var(--bg-color-light);
    box-shadow: 0px 4px 24px -13px #333;
}

.header__search-suggest {
    width: 100%;
    padding: 0 14px;
    text-decoration: none;
}

.header__search-suggest--no-text {
    display: flex;
    min-height: 44px;
    justify-content: space-between;
    align-items: center;
}

.header__search-suggest > .header__suggest-title {
    color: #000;
}

.header__suggest-title--no-text {
    font-size: 1.4rem;
}

.header__suggest-img--no-text {
    width: 120px;
    height: 24px;
}

.header__suggest-title--no-text,
.header__suggest-img--no-text {
    display: block;
}

.header__search-recommend {
    width: 100%;
    margin-top: 8px;
}

.header__search-recommend > .header__recommend-item {
    margin-left: 14px;
    color: #ffeee4;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.header__recommend-item:first-child {
    margin: 0;
}

.header__cart-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
}

.header__cart {
    position: relative;
    display: flex;
    width: 40px;
    height: 46px;
    margin-top: 6px;
    text-decoration: none;
}

.header__cart-icon {
    color: var(--text-color-bright);
    font-size: 2.2rem;
    padding: 0 16px;
    margin: auto;
}

.header__popover-cart {
    z-index: 2;
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    right: -8px;
    width: 402px;
    transform-origin: calc(100% - 16px) top;
    box-shadow: 0px 0px 44px -28px #333;
}

.header__cart:hover .header__popover-cart {
    display: block;
}

.header__popover-cart::before {
    right: 2px;
    cursor: pointer;
}

.header__popover-cart::after {
    right: -10px;
    width: 72px;
}

.header__popover-cart > .cart-list {
    min-height: 262px;
}

.cart-list--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__bg-img--empty {
    width: 100px;
    height: 100px;
}

.cart__desc {
    width: 100%;
    margin-top: 20px;
    color: var(--text-color-normal);
    font-size: 1.4rem;
    text-align: center;
}

.cart__img--empty,
.cart__desc--empty {
    display: block;
}
/* End Header With Search */
/* End Header */

/* Container */
.container {
    margin-top: 120px;
    background-color: var(--bg-color-blur);
}

.slider-hotword {
    padding-top: 30px;
    background-color: var(--bg-color-light);
    box-shadow: 00 1px 1px 0px rgb(0, 0, 0, 0.06);
}
/* Slider & Hot Word */
/* Slider */
.slider__wrapper {
    width: 100%;
}

.slider__left-section {
    position: relative;
    width: 100%;
}

.slider__left-section:hover .slider__left-arrow-pre {
    display: flex;
}

.slider__left-section:hover .slider__left-arrow-next {
    display: flex;
}

.slider__left-link,
.slider__right-top-link,
.slider__right-bottom-link {
    text-decoration: none;
}

.slider__left-bg,
.slider__right-top-bg,
.slider__right-bottom-bg {
    border-radius: 2px;
}

.slider__left-bg {
    height: 236px;
    background: url("https://cf.shopee.vn/file/41ca0343cc8b5e47e4c9c6e4bce54924_xxhdpi") top center / cover no-repeat;
}

.slider__left-arrow-pre,
.slider__left-arrow-next {
    position: absolute;
    top: 50%;
    display: none;
    width: 35px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.18);
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider__left-arrow-pre:hover,
.slider__left-arrow-next:hover {
    background-color: rgba(0, 0, 0, 0.32);
}

.slider__left-arrow-pre {
    left: 0;
}

.slider__left-arrow-next {
    right: 0;
}

.slider__left-arrow-icon {
    color: var(--text-color-bright);
    font-size: 2.0rem;
}

.slider__right-section {
    margin-left: 5px;
}

.slider__right-top-bg {
    height: 116px;
    background: url("https://cf.shopee.vn/file/2f92a6a822404b45e4f5a3ec2fdd3319_xhdpi") top center / cover no-repeat;
}

.slider__right-bottom-link {
    margin-top: 4px;
}

.slider__right-bottom-bg {
    height: 116px;
    background: url("https://cf.shopee.vn/file/78728c15fb11beee408bc2b91f0e11a3_xhdpi") top center / cover no-repeat;
}
/* End Slider */

/* Hot Word */
.hotword__wrapper {
    width: 100%;
    margin-top: 10px;
}

.hotword__section {
    min-height: 108px;
    padding-top: 18px;
    color: var(--text-color-bold);
    text-decoration: none;
    justify-content: center;
    text-align: center;
}

.hotword__section:hover {
    transform: translateY(-1px);
}

.hotword__img {
    width: 45px;
    height: 45px;
}

.hotword__title {
    width: 100%;
    margin: 4px 0 8px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4rem;
    word-spacing: 0.1rem;
}
/* End Hot Word */
/* End Slider & Hot Word */

/* Content */
.content {
    width: 100%;
    padding-bottom: 50px;
}

/* Banner */
.banner__wrapper {
    display: block;
    width: 100%;
}

.banner {
    position: relative;
}

.banner--full {
    width: 100%;
}

.banner__link {
    text-decoration: none;
}

.banner__link--full {
    width: 100%;
}

.banner__link--third {
    width: 33.33333%;
}

.banner__img {
    height: 110px;
}

.banner__img--big {
    background: url("https://cf.shopee.vn/file/0ed0d80b26a4a8dc8f8652679f37604d") top center / cover no-repeat;
}

.banner__img-composite {
    background: url("https://cf.shopee.vn/file/2aa4b8deb8b552bc32de2bdb2e400ce0") top center / cover no-repeat;
}

.banner__split-composite {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 110px;
}
/* End Banner */

/* Categogy */
.categogy__wrapper {
    width: 100%;
}

.categogy__title {
    color: var(--text-color-blur);
    text-transform: uppercase;
}

.categogy__list-wrapper {
    position: relative;
    display: block;
}

.categogy__list-section {
    width: 100%;
    overflow: hidden;
}

.categogy__list {
    display: flex;
    width: 130%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

#categogy__check-move:checked + .categogy__list {
    transform: translateX(-360px);
}

#categogy__check-move:checked ~ .content__left-arrow {
    display: block;
}

#categogy__check-move:checked ~ .content__right-arrow {
    display: none;
}

.catagogy__item {
    min-height: 150px;
    flex: 0 0 7.69231%;
    max-width: 7.69231%;
}

.catagogy__item-link {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    text-decoration: none;
    text-align: center;
}

.catagogy__item-link:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.catagogy__item-img {
    width: 84px;
    height: 84px;
    margin-top: 10px;
}

.catagogy__item-title {
    margin: 0 8px 10px;
    color: var(--text-color-normal);
    line-height: 2.0rem;
    font-size: 1.4rem;
    font-weight: 400; 
}

.categogy__list:hover ~ .content__left-arrow {
    transform: translateY(-50%) translateX(-50%) scale(1.5);
}

.categogy__list:hover ~ .content__right-arrow {
    transform: translateY(-50%) translateX(50%) scale(1.5);
}

#categogy__check-move {
    display: none;
}
/* End Categogy */

/* Flash Sale */
.flash-sale__wrapper {
    width: 100%;
}

.flash-sale__header-section {
    justify-content: space-between;
}

.flash-sale__header-group {
    display: inline-flex;
    align-items: center;
}

.flash-sale__title {
    width: 130px;
    height: 26px;
    margin-top: 4px;
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/fb1088de81e42c4e538967ec12cb5caa.png") top center / contain no-repeat;
}

.flash-sale__time-cd-wrapper {
    display: inline-flex;
    margin-left: 14px;
}

.flash-sale__time-cd {
    margin-left: 4px;
    background-color: var(--bg-color-bold);
    border: 1px solid #9b9b9b;
    border-radius: 2px;
    font-size: 0;
    line-height: 8px;
}

.flash-sale__time-number-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.flash-sale__time-number-item {
    display: flex;
    width: 10px;
    height: 16px;
}

.flash-sale__time-number-item--left {
    padding-left: 1px;
}

.flash-sale__time-number-item--right {
    padding-right: 1px;
}

.flash-sale__time-number {
    margin: auto;
    width: 8px;
    height: 10px;
}

.flash-sale__header-link {
    padding: 6px;
    color: var(--text-color-highlight);
    font-size: 1.5rem;
    text-decoration: none;
}

.flash-sale__header-link-icon {
    margin: 2px;
    font-size: 1.2rem;
}

.flash-sale__list-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.flash-sale__list-section {
    display: block;
    width: 100%;
    overflow: hidden;
}

.flash-sale__list {
    display: flex;
    width: 183.33333%;
    margin: 0;
    padding: 0;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.flash-sale__item {
    display: flex;
    flex: 0 0 9.09091%;
    max-width: 9.09091%;
    min-height: 240px;
}

#flash-sale__list-check-move {
    display: none;
}

.flash-sale__item-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.flash-sale__item-content {
    position: relative;
    display: flex;
}

.flash-sale__img-section {
    position: relative;
    margin: 5px auto;
    line-height: 0;
}

.flash-sale__item-img {
    width: 172px;
    height: 172px;
}

.flash-sale__item-promo-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    height: 172px;
    background: url("https://cf.shopee.vn/file/676ef20114b5a9e973b7cca3e2ad417e_tn") top center / cover no-repeat;
}

.flash-sale__item-sale-off {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 6px 0;
    background-color: var(--bg-color-sale-off);
    font-size: 1.7rem;
    color: var(--text-color-bright);
    text-transform: uppercase;
}

.flash-sale__item-sale-off::before {
    content: "";
    display: block;
    position: absolute;
    top: 42px;
    right: 0;
    border-style: solid;
    border-width: 6px 27px;
    border-color: var(--bg-color-sale-off) var(--bg-color-sale-off) transparent var(--bg-color-sale-off);
}

.flash-sale__item-sale-off-perc {
    display: block;
    padding-bottom: 4px;
    color: var(--text-color-highlight);
    text-align: center;
}

.flash-sale__item-footer {
    display: block;
    padding: 0 16px 16px;
}

.flash-sale__item-price {
    display: flex;
    color: var(--text-color-highlight);
    font-size: 2.1rem;
    line-height: 26px;
    justify-content: center;
    align-items: center;
}

.flash-sale__item-unit {
    margin-right: 4px;
    font-size: 1.0rem;
    text-decoration: underline;
}

.flash-sale__item-purchased-section {
    display: block;
    padding: 0 6px;
}

.flash-sale__item-purchased {
    position: relative;
    display: block;
    height: 16px;
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/ac7f81d9ee062223753413ec98497a86.png") top center / cover no-repeat;
}

.flash-sale__item-purchased-amount {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--bg-color-light);
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-align: center;
    text-transform: uppercase;
}

.flash-sale__item-not-purchased {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(255, 189, 166, 0.9);
}

.flash-sale__list-section:hover .content__left-arrow {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
}

.flash-sale__list-section:hover .content__right-arrow {
    transform: translateX(50%) translateY(-50%) scale(1.5);
}

#flash-sale__list-check-move:checked + .flash-sale__list {
    transform: translateX(-1000px);
}

#flash-sale__list-check-move:checked ~ .content__left-arrow {
    display: block;
}

#flash-sale__list-check-move:checked ~ .content__right-arrow {
    display: none;
}
/* End Flash Sale */

/* Mall */
.mall__wrapper {
    display: block;
    width: 100%;
}

.mall__header-section {
    justify-content: space-between;
}

.mall__header-group {
    display: flex;
    align-items: center;
}

.mall__logo {
    color: #d3111b;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
}

.mall__policies-list {
    display: flex;
    margin: 0 0 0 15px;
    border-left: 1px solid var(--border-color);
    padding: 0;
    list-style: none;
}

.mall__policy-item {
    margin-left: 15px;
    color: var(--text-color-normal);
    font-size: 1.6rem;
}

.mall__policy-icon {
    padding-right: 6px;
}

.mall__policy-icon::before {
    color: #d3111b;
    font-size: 1.4rem;
}

.mall__header-link {
    display: flex;
    padding: 6px;
    font-size: 1.5rem;    
    color: #d3111b;
    text-decoration: none;
    align-items: center;
}

.mall__header-link-icon {
    padding: 2px 2px 2px 6px;
}

.mall__header-link-icon::before {
    font-size: 1.8rem;
}

.mall__content-section {
    border-width: 1px 0 0;
    border-color: var(--border-color);
    border-style: solid;
}

.mall__slider {
    position: relative;
    height: 464px;
}

.mall__slider-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.mall__slider-img {
    width: 100%;
    height: 100%;
}

.mall__arrow {
    position: absolute;
    top: 50%;
    display: none;
    width: 35px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.18);
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mall__slider:hover .mall__arrow {
    display: flex;
}

.mall__arrow--pre {
    left: 0;
}

.mall__arrow--next {
    right: 0;
}

.mall__arrow-icon {
    color: var(--text-color-bright);
    font-size: 2.0rem;
}

.mall__list-wrapper {
    position: relative;
}

.mall__list-section {
    width: 100%;
    overflow: hidden;
}

.mall__list {
    width: 200%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.mall__item {
    height: 232px;
}

.mall__item-link {
    text-decoration: none;
}

.mall__item-img {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: url("https://cf.shopee.vn/file/ba2a09062ee7dec6181cdb06b9de38d6_xhdpi") top center / cover no-repeat;
}

.mall__item-promo {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #d3111b;
    font-size: 1.8rem;
    text-align: center;
}

#mall__list-check-move {
    display: none;
}

#mall__list-check-move:checked + .mall__list {
    transform: translateX(-800px);
}

#mall__list-check-move:checked ~ .content__left-arrow {
    display: block;
}

#mall__list-check-move:checked ~ .content__right-arrow {
    display: none;
}

.mall__list-section:hover .content__left-arrow {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
}

.mall__list-section:hover .content__right-arrow {
    transform: translateX(50%) translateY(-50%) scale(1.5);
}
/* End Mall */

/* Search Trending */
.search-trending__wrapper {
    display: block;
    width: 100%;
}

.search-trending__header-section {
    justify-content: space-between;
}

.search-trending__header-link {
    padding: 6px;
    color: var(--text-color-highlight);
    font-size: 1.4rem;
    text-decoration: none;
}

.search-trending__header-link-icon {
    margin-right: 2px;
}

.search-trending__header-titile {
    color: var(--text-color-blur);
    font-size: 1.6rem;
}

.search-trending__content-section {
    width: 100%;
    border-top: 1px solid var(--border-color);
}

.search-trending__item {
    display: flex;
    text-decoration: none;
    border-right: 1px solid var(--border-color);
}

.search-trending__item:last-child {
    border: none;
}

.search-trending__item-desc {
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.search-trending__item-titile {
    white-space: nowrap;
    color: var(--text-color-normal);
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search-trending__item-amount-found {
    margin-top: 5px;
    color: var(--text-color-blur);
    font-size: 1.3rem;
}

.search-trending__item-img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
}
/* End Search Trending */

/* Top Search */
.top-search__wrapper {
    display: block;
    width: 100%;
}

.top-search__header-section {
    justify-content: space-between;
}

.top-search__header-titile {
    color: var(--text-color-highlight);
    font-size: 1.6rem;
    text-transform: uppercase;
}

.top-search__header-link {
    padding: 6px;
    color: var(--text-color-highlight);
    font-size: 1.5rem;
    text-decoration: none;
}

.top-search__header-link-icon {
    margin: 2px;
    font-size: 1.2rem;
}

.top-search__list-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.top-search__list-section {
    width: 100%;
    overflow: hidden;
}

.top-search__list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 183.33333%;
    list-style: none;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.top-search__item {
    position: relative;
    flex: 0 0 9.09091%;
    max-width: 9.09091%;
    height: 100%;
    padding: 20px 10px;
}

.top-search__item-link {
    line-height: 2.5rem;
    text-decoration: none;
}

.top-search__item-img {
    position: relative;
    width: 180px;
    height: 180px;
    background: url("https://cf.shopee.vn/file/c8169887b60e20a161d0288e6f9a193e") top center / cover no-repeat;
}

.top-search__item-top-flag {
    position: absolute;
    width: 32px;
    height: 40px;
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/06720e49514cbd94b7552496b4de454a.png") top center / cover no-repeat;
}

.top-search__item-purchased {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--text-color-bright);
    background-color: #bdbdbd;
    font-size: 1.4rem;
    font-weight: 350;
    text-align: center;
}

.top-search__item-titile {
    margin-top: 20px;
    color: var(--text-color-normal);
    font-size: 1.8rem;
}

#top-search__list-check-move {
    display: none;
}

#top-search__list-check-move:checked + .top-search__list {
    transform: translateX(-1000px);
}

#top-search__list-check-move:checked ~ .content__left-arrow {
    display: block;
}

#top-search__list-check-move:checked ~ .content__right-arrow {
    display: none;
}

.top-search__list:hover ~ .content__left-arrow {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
}

.top-search__list:hover ~ .content__right-arrow {
    transform: translateX(50%) translateY(-50%) scale(1.5);
}
/* End Top Search */

/* Recommend Products */
.recommend-products__wrapper {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.recommend-products__header-section {
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    display: flex;
    background-color: var(--bg-color-light);
    box-shadow: 0 4px 4px -6px #333;
    align-items: center;
}

.recommend-products__header-group {
    position: relative;
    padding: 20px 50px;
    cursor: pointer;
}

.recommend-products__header-group-marked {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #fff;
}

.recommend-products__header-group--selected > .recommend-products__header-group-marked {
    border-bottom: 4px solid #ef5334;
}

.recommend-products__header-group-titile {
    display: flex;
    height: 20px;
    color: var(--text-color-highlight);
    font-size: 1.6rem;
    font-weight: 450;
    text-transform: uppercase;
    align-items: center;
}

.recommend-products__header-group-img {
    width: 160px;
    height: 20px;
}

.recommend-products__content-section {
    width: 100%;
    margin-top: 5px;
}


.recommend-products__item-link {
    position: relative;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #fff;
    height: 282px;
    background-color: var(--bg-color-light);
    line-height: 0;
    box-shadow: 0 0 4px -2px #333;
    text-decoration: none;
}

.recommend-products__item-link:hover {
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #ee4d2d;
    transform: translateY(-1px);
}

.recommend-products__item-representative-photo {
    position: relative;
    width: 100%;
}

.recommend-products__item-img {
    width: 100%;
}

.recommend-products__item-favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    padding: 0 5px;
    color: var(--text-color-bright);
    background-color: #f25220;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.recommend-products__item-favorite::before {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: 0px;
    border-width: 2px 2px;
    border-color: #99452a #99452a transparent transparent;
    border-style: solid;
}

.recommend-products__item-sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    padding-top: 4px;
    color: var(--text-color-bright);
    background-color: var(--bg-color-sale-off);
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    text-transform: uppercase;
}

.recommend-products__item-sale-off::before {
    content: "";
    display: block;
    position: absolute;
    top: 28px;
    right: 0;
    border-width: 4px 18px;
    border-style: solid;
    border-color: transparent var(--bg-color-sale-off) transparent var(--bg-color-sale-off);
}

.recommend-products__item-sale-off-prec {
    display: block;
    color: var(--text-color-highlight);
    line-height: 1.2rem;
}

.recommend-products__item-promo-titile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://cf.shopee.vn/file/958056d36563b56843d4b02cf1d82362") top center / cover no-repeat;
}

.recommend-products__item-desc {
    width: 100%;
    padding: 8px;
    line-height: 1.6rem;
}

.recommend-products__item-titile {
    display: -webkit-box;
    height: 28px;
    margin: 0;
    color: #000;
    font-size: 1.2rem;
    line-height: 1.4rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recommend-products__item-discount-section {
    position: relative;
    display: block;
    height: 24px;
}

.recommend-products__item-discount {
    position: relative;
    display: inline-block;
    margin: 4px 0;
    padding: 2px 4px;
    color: var(--text-color-bright);
    background-color: #f69113;
    font-weight: 450;
    line-height: 1.2rem;
    border-left: 2px dotted #fff;
    border-right: 2px dotted #fff;
}

.recommend-products__item-discount--empty {
    display: none;
}

.recommend-products__item-price {
    display: flex;
    margin-top: 8px;
}

.recommend-products__item-unit {
    flex: 0;
    color: var(--text-color-highlight);
    font-size: 0.9rem;
    text-decoration: underline;
}

.recommend-products__item-number {
    flex: 1;
    color: var(--text-color-highlight);
    font-size: 1.7rem;
}

.recommend-products__item-purchased {
    flex: 0;
    color: var(--text-color-blur);
    font-size: 1.2rem;
    white-space: nowrap;
}

.recommend-products__item-footer {
    z-index: 2;
    position: absolute;
    bottom: -30px;
    left: -1px;
    display: none;
    width: 100%;
    border: 1px solid #ee4d2d;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: var(--text-color-bright);
    background-color: #ee4d2d;
    font-size: 1.4rem;
    line-height: 3.0rem;
    text-align: center;
    box-sizing: content-box;
}

.recommend-products__item-link:hover .recommend-products__item-footer {
    display: block;
}
.recommend-products__footer {
    display: flex;
    padding-top: 20px;
}

.recommend-products__footer-btn {
    width: 32%;
    margin: auto;
    background-color: var(--bg-color-light);
    line-height: 3.8rem;
    font-size: 1.4rem;
    box-shadow: 0 0 4px -3px #333;
    text-align: center;
}
/* End Recommend Products */
/* End Content */
/* End Container */