/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    /* Header */
    .header__cart-wrapper {
        margin-bottom: 0;
    }
    
    .header__search {
        margin-top: 0;
    }

    .header__cart-wrapper,
    .header__user-wrapper {
        width: 12%;
        justify-content: flex-end;
    }

    .header__cart:hover .header__popover-cart {
        display: none;
    }

    .header__user-wrapper {
        display: flex;
    }
    /* End Header */

    /* Container */
    .content__arrow {
        display: none;
    }

    /* category */
    .category__list-section {
        overflow-x: auto;
    }

    .category__list-section::-webkit-scrollbar {
        display: none;
    }
    /* End category */

    /* Flash Sale */
    .flash-sale__list-section {
        overflow-x: auto;
    }

    .flash-sale__list-section::-webkit-scrollbar {
        display: none;
    }
    /* End Flash Sale */

    /* Mall */
    .mall__list-wrapper {
        overflow-x: auto;
    }

    .mall__list-wrapper::-webkit-scrollbar {
        display: none;
    }

    .mall__list {
        flex-wrap: nowrap;
    }
    /* End Mall */

    /* Search Trending */
    .search-trending__item {
        border: 1px solid var(--border-color-blur);
    }
    /* End Search Trending */

    /* Top Search */
    .top-search__list-section {
        overflow-x: auto;
    }

    .top-search__list-section::-webkit-scrollbar {
        display: none;
    }
    /* End Top Search */
    /* End Container */

    /* Footer */
    .footer__certificate-policy {
        width: 50%;
        text-align: center;
    }

    .footer__certificate-policy::after {
        display: none;
    }

    .footer__certificate-info {
        color: var(--text-color-bold);
    }
    
    .footer__certificate-info {
        margin: 10px 0 0;
    }
    /* End Footer */
}
/* End Mobile & Tablet */

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    /* Header */
    .header {
        height: 68px;
    }

    .header-with-search {
        height: 68px;
        padding: 0;
    }

    .header__logo {
        margin-bottom: 4px;
    }

    .header__logo-img {
        padding-right: 14px;
    }

    .header__search-suggest-wrapper {
        width: 100%;
    }
    /* End Header */

    /* Container */
    .container {
        margin-top: 68px;
    }

    .content__slider-btn {
        width: 16px;
        height: 16px;
        margin-left: 16px
    }

    /* Slider & Hot Word */
    .slider__left-section {
        width: 100%;
    }

    .slider__left-section:hover .slider__left-arrow--pre,
    .slider__left-section:hover .slider__left-arrow--next {
        display: none;
    }
    /* End Slider & Hot Word */

    /* category */
    .category__list {
        width: 236%;
    }
    /* End category */

    /* Flash Sale */
    .flash-sale__list {
        width: 312%;
    }

    .flash-sale__item-sale-off {
        transform: scale(0.9);
    }
    /* End Flash Sale */

    /* Mall */
    .mall__list {
        width: 226%;
    }
    /* End Mall */

    /* Search Trending */
    .search-trending__item-img {
        margin: 10px;
    }
    /* End Search Trending */

    /* Top Search */
    .top-search__list {
        width: 312%;
    }
    /* End Top Search */

    /* Recommend Products */
    .recommend-products__header-section  {
        top: 68px;
    }

    .recommend-products__footer-btn {
        width: 50%;
    }
    /* End Recommend Products */
    /* End Container */
}
/* End Tablet */

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    /* Header */
    /* Header */
    .header {
        position: absolute;
        height: 56px;
        background-image: none;
    }

    .header-with-search {
        height: 56px;
        padding: 0 28px;
    }

    .header__search-btn {
        width: 40px;
        background-color: var(--bg-color-light);
    }

    .header__search-btn:hover {
        background-color: var(--bg-color-light);
    }

    .header__search-inp::placeholder {
        color: var(--text-color-highlight);
    }

    .header__search-icon {
        color: #cacaca;
    }

    .header__search-suggest-wrapper {
        top: 48px;
        width: 100vw;
        left: -28px;
        box-shadow: -8px 4px 24px -13px #333;
        animation: headerItemGrowtMobile 0.2s ease;
    }

    .header__cart-wrapper {
        width: 18%;
    }

    .header__cart-link {
        padding: 8px 12px;
    }

    @keyframes headerItemGrowtMobile {
        from {
            opacity: 0;
            transform: translateY(-50%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* End Header */

    /* Container */
    .container {
        margin-top: 0;
    }

    .content__header-section {
        padding: 0 8px;
    }

    /* Slider & Hot Word */
    .slider-hotword {
        padding-top: 0;
    }

    .slider__mobile-section {
        display: block;
    }

    .hotword__wrapper {
        margin: 0;
        overflow-x: auto;
    }

    .hotword__wrapper::-webkit-scrollbar {
        height: 5px;
    }

    .hotword__wrapper::-webkit-scrollbar-button {
        display: block;
        width: 23.4%;
    }

    .hotword__wrapper::-webkit-scrollbar-track {
        background-color: #efefef;
        border-radius: 2px;
    }
    
    .hotword__wrapper::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: var(--theme-color-light);
    }

    .hotword__section {
        width: 120%;
    }

    .hotword__title {
        padding: 0 2px;
    }
    /* End Slider & Hot Word */

    /* Banner */
    .mobile-banner {
        display: block;
    }
    /* End Banner */

    /* category */
    .category__list {
        width: 358%;
    }
    /* End category */

    /* Flash Sale */
    .flash-sale__list {
        width: 436%;
    }

    .flash-sale__item-sale-off {
        transform: scale(0.75);
    }
    /* End Flash Sale */

    /* Mall */
    .mall__list {
        width: 314%;
    }

    .mall__item-img {
        height: 174px;
    }

    .mall__item-promo {
        bottom: 8px;
    }
    /* End Mall */

    /* Search Trending */
    .search-trending__item-desc {
        padding: 8px;
    }

    .search-trending__item-img {
        margin: 10px 5px;
        width: 56px;
        height: 56px;
    }
    /* End Search Trending */

    /* Top Search */
    .top-search__header-section {
        border: none;
    }

    .top-search__list {
        width: 438%;
    }

    .top-search__item-link {
        margin: 0 4px 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
    }

    .top-search__item-desc {
        padding: 4px 8px;
        background-color: #f7f7f7;
    }

    .top-search__item-purchased {
        position: initial;
        color: var(--text-color-blur);
        background-color: transparent;
        font-size: 1.2rem;
        text-align: left;
    }
    /* End Top Search */

    /* Recommend Products */
    .recommend-products__header-section  {
        top: 0;
        background-color: rgba(255, 255, 255, 0.9)
    }

    .recommend-products__content-section {
        padding: 0;
        margin: 0;
    }

    .recommend-products__footer-btn {
        width: 95%;
        border: 1px solid var(--border-color-highlight);
        border-radius: 6px;
        color: var(--text-color-highlight);
    }
    /* End Recommend Products */
    /* End Container */
}
/* End Mobile */